body {
  background-image:url("./31553.jpg") ;
  /* height: 100%; */
/* width:100%; */
  /* Center and scale the image nicely */
  background-size: cover;
  /* min-height:  */
  position: fixed; 
  
  }